* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
}

body {
  background: $background-white;
  display: inline-block;
  justify-content: center;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}
