.input-box {
    
    position: relative;
    width: 334px;
    height: 60px;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #f2f2f2;
    border-radius: 10px;
}

.icon-filters {
    width: 30px;
    height: auto;
    margin-left: 15px;
    &:hover{
        cursor: pointer;
    }
}

.search-icon {
    width: 10%;
    height: auto;
    margin-left: 6px;
    margin-right: 15px;
}

.filter-input {
    width: 80%;
    height: 35px;
    border: none;
    background:#f2f2f2;
}
