/*----------------------------------
                Types
----------------------------------*/
.type--bug {
    background: $type-bug;
}

.type--dark {
    background: $type-dark;
}

.type--dragon {
    background: $type-dragon;
}

.type--electric {
    background: $type-electric;
}

.type--fairy {
    background: $type-fairy;
}

.type--fighting {
    background: $type-fighting;
}

.type--fire {
    background: $type-fire;
}

.type--flying {
    background: $type-flying;
}

.type--ghost {
    background: $type-ghost;
}

.type--grass {
    background: $type-grass;
}

.type--ground {
    background: $type-ground;
}

.type--ice {
    background: $type-ice;
}

.type--normal {
    background: $type-normal;
}

.type--poison {
    background: $type-poison;
}

.type--psychic {
    background: $type-psychic;
}

.type--rock {
    background: $type-rock;
}

.type--steel {
    background: $type-steel;
}

.type--water {
    background: $type-water;
}
/*----------------------------------------
         Backgrounds
----------------------------------------*/         
.background--bug {
    background: $background-type-bug;
}

.background--dark {
    background: $background-type-dark;
}

.background--dragon {
    background: $background-type-dragon;
}
.background--electric {
    background: $background-type-electric;
}

.background--fairy {
    background: $background-type-fairy;
}

.background--fighting {
    background: $background-type-fighting;
}

.background--fire {
    background: $background-type-fire;
}

.background--flying {
    background: $background-type-flying;
}

.background--ghost {
    background: $background-type-ghost;
}

.background--grass {
    background: $background-type-grass;
}

.background--ground {
    background: $background-type-ground;
}

.background--ice {
    background: $background-type-ice;
}

.background--normal {
    background: $background-type-normal;
}

.background--poison {
    background: $background-type-poison;
}

.background--psychic {
    background: $background-type-psychic;
}

.background--rock {
    background: $background-type-rock;
}

.background--steel {
    background: $background-type-steel;
}

.background--water {
    background: $background-type-water;
}