
.card-container {
    display: flex;
    flex-direction: row;
    justify-items: center;
    width: 334px;
    height: 140px;

    margin-right: 15px;
}

.card-texts-container {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 15px;
    left: 15px;
}

.vector {
    display: flex;
    /* Background */
    width: 334px;
    height: 115px;
    
    /* Background / White */

    background: $background-type-grass;
    border-radius: 10px;
}

.pattern {
    /* Pattern */
    position: relative;
    width: 180px;
    height: 32px;
    top: 5px;
    right: 45px;

    /* Gradient / Vector */

    background: $gradient-vector;
}

.card-box-types {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
}

.card-pokemon-id {
    /* #001 */
    width: 29px;
    height: 14px;

/* Pokemon Number */

    font-family: SF Pro Display;
    font-style: normal;

    font-weight: nth($pokemon-number, 2);
    font-size: nth($pokemon-number, 1);
    line-height: 14px;
    
    /* Text / Number */
    
    color: $text-number;
}

.pokemon-name {
    width: 120px;
    height: 31px;

/* Pokemon Name */

    font-family: SF Pro Display;
    font-style: normal;
    font-size: nth($pokemon-name, 1);
    font-weight: nth($pokemon-name, 2);
    line-height: 31px;
    /* identical to box height */

    /* Text / White */
    color: $text-white;
}


.pokemon-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5px;
    
    position: relative;
    width: 61px;
    height: 25px;
    
    /* Type / Grass */
    
    background: $background-type-poison;
    border-radius: 3px;
}



.pokeball-image {
    position: relative;
    left: 10px;
}

.pokemon-image {
    position: relative;
    width: 130px;
    height: 130px;
    bottom: 145px;
}


/*
.pokemon-card-type-bug {
    @extend .pokemon-card;
    background-color: $background-type-bug;
}

.pokemon-card-type--dark {
    @extend .pokemon-card;
    background-color: $background-type-dark;
}

.pokemon-card-type--dragon {
    @extend .pokemon-card;
    background-color: $background-type-dragon;
}
.pokemon-card-type--eletric {
    @extend .pokemon-card;
    background-color: $background-type-electric;
}

.pokemon-card-type--fairy {
    @extend .pokemon-card;
    background-color: $background-type-fairy;
}

.pokemon-card-type--fighting {
    @extend .pokemon-card;
    background-color: $background-type-fighting;
}


.pokemon-card-type--fire {
    @extend .pokemon-card;
    background-color: $background-type-fire;
}

.pokemon-card-type--flying {
    @extend .pokemon-card;
    background-color: $background-type-flying;
}

.pokemon-card-type--ghost {
    @extend .pokemon-card;
    background-color: $background-type-ghost;
}

.pokemon-card-type--grass {
    @extend .pokemon-card;
    background-color: $background-type-grass;
}

.pokemon-card-type--ground {
    @extend .pokemon-card;
    background-color: $background-type-ground;
}

.pokemon-card-type--ice {
    @extend .pokemon-card;
    background-color: $background-type-ice;
}

.pokemon-card-type--normal {
    @extend .pokemon-card;
    background-color: $background-type-normal;
}

.pokemon-card-type--poison {
    @extend .pokemon-card;
    background-color: $background-type-poison;
}

.pokemon-card-type--psychic {
    @extend .pokemon-card;
    background-color: $background-type-psychic;
}

.pokemon-card-type--rock {
    @extend .pokemon-card;
    background-color: $background-type-rock;
}

.pokemon-card-type--steel {
    @extend .pokemon-card;
    background-color: $background-type-steel;
}

.pokemon-card-type--water {
    @extend .pokemon-card;
    background-color: $background-type-water;
}*/